:root {
	--dark-gray: #231f21; /* Темно-серый, почти черный */
	--light-gray: #d1d3d5; /* Светло-серый */
	--teal-green: #03927e; /* Бирюзово-зеленый */
	--olive-yellow: #c6cb53; /* Оливково-желтый */
}
